<!-- Header Section Start -->
  <div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
     <app-header></app-header>
      <!-- Header Section End -->

      <div class="search-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Find the job that fits your life</h1>
              <br>
              <h2>More than
                <strong>12</strong> jobs are waiting to Kickstart your career!</h2>
              <div class="content">
                <form method="" action="">
                  <div class="row">
                    <div class="col-md-6 col-sm-4">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="job title / keywords / company name">
                        <i class="ti-time"></i>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-4">
                      <div class="form-group">
                        <input class="form-control" type="email" placeholder="city / province / zip code">
                        <i class="ti-location-pin"></i>
                      </div>
                    </div>
                    <div class="col-md-1 col-sm-4">
                      <button type="button" class="btn btn-search-icon">
                        <i class="ti-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="popular-jobs">
                <b>Popular Keywords: </b>
                <a href="#">Web Design</a>
                <a href="#">Manager</a>
                <a href="#">Programming</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end intro section -->
  </div>
<app-featuredjobs></app-featuredjobs>
  <!-- Find Job Section Start -->
  
  <!-- Find Job Section End -->
  <!-- Testimonial Section Start -->
  <section id="testimonial" class="section">
    <div class="container">
      <div class="row">
          <div class="container">
         
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
              
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    
                      <div class="item text-center">
                          <img class="img-member" src="/src/assets/img/testimonial/img3.jpg" alt="">
                          <div class="client-info">
                            <h2 class="client-name">Helen
                              <span>(Engineer)</span>
                            </h2>
                          </div>
                          <p>
                            <i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional
                            <i class="fa fa-quote-right quote-right"></i>
                            <br> throughout the project and assured that the owner expectations were met and
                            <br> often exceeded. </p>
                        </div>
                  
                  </div>
            
                  <div class="item">
                     
                      <div class="item text-center">
                          <img class="img-member" src="/src/assets/img/testimonial/img3.jpg" alt="">
                          <div class="client-info">
                            <h2 class="client-name">Helen
                              <span>(Engineer)</span>
                            </h2>
                          </div>
                          <p>
                            <i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional
                            <i class="fa fa-quote-right quote-right"></i>
                            <br> throughout the project and assured that the owner expectations were met and
                            <br> often exceeded. </p>
                        </div>
                  </div>
                
                  <div class="item">
                    
                      <div class="item text-center">
                          <img class="img-member" src="/src/assets/img/testimonial/img3.jpg" alt="">
                          <div class="client-info">
                            <h2 class="client-name">Helen
                              <span>(Engineer)</span>
                            </h2>
                          </div>
                          <p>
                            <i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional
                            <i class="fa fa-quote-right quote-right"></i>
                            <br> throughout the project and assured that the owner expectations were met and
                            <br> often exceeded. </p>
                        </div>
                  </div>
                  
                </div>
            
            
            
              </div>
            </div>
    
      </div>
    </div>
  </section>
  <!-- Testimonial Section End -->


<app-footer></app-footer>

<!-- 
  Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>

  
